<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <hr />
            <h3 class="text-center"> Detalhes da Unidade </h3>
            <hr /><hr />
            <div>
                <label> <b> Identificação: </b></label> {{unidade.identificacao}}
            </div>
            <div>
                <label> <b> Proprietário: </b></label> {{unidade.proprietario}}
            </div>
            <div>
                <label> <b> Condomínio: </b></label> {{unidade.condominio}}
            </div>
            <div>
                <label> <b> Endereço: </b></label> {{unidade.endereco.endereco}}
            </div>
            <div>
                <label> <b> Complemento: </b></label> {{unidade.endereco.complemento}}
            </div>
            <div>
                <label> <b> Bairro: </b></label> {{unidade.endereco.bairro}}
            </div>
            <div>
                <label> <b> Cidade: </b></label> {{unidade.endereco.cidade}}
            </div>
            <div>
                <label> <b> Estado: </b></label> {{unidade.endereco.estado}}
            </div>
            <div>
                <label> <b> CEP: </b></label> {{unidade.endereco.cep}}
            </div>
        </div>
    </div>
</div>
