<div id="header">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="menu-drop">
      <button type="button" name="drop">I n q u i l i n o s</button>
      <div class="drop-content">
        <a href="#" routerLink="create-inquilino" routerLinkActive="active" class="nav-link">Cadastrar</a>
        <a href="#" routerLink="inquilinos" routerLinkActive="active" class="nav-link">Listar</a>
      </div>
    </div>
    <div class="menu-drop">
      <button type="button" name="drop">U n i d a d e s</button>
      <div class="drop-content">
        <a href="#" routerLink="create-unidade" routerLinkActive="active" class="nav-link">Cadastrar</a>
        <a href="#" routerLink="unidades" routerLinkActive="active" class="nav-link">Listar</a>
      </div>
    </div>
    <div class="menu-drop">
      <button type="button" name="drop">D e s p e s a s</button>
      <div class="drop-content">
        <a href="#" routerLink="create-despesa" routerLinkActive="active" class="nav-link">Cadastrar</a>
        <a href="#" routerLink="despesas" routerLinkActive="active" class="nav-link">Listar</a>
      </div>
    </div>
  </nav>
</div>

<hr/>
<h2 class="text-center"> {{title}} </h2>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<!--
<div id="footer">
  <footer class = "footer bg-primary">
    <div class = "container">
        <span>All Rights Reserved 2020 @JavaGuides</span>
        <br>
        <span>Adapted by jcNaumann 2022</span>
    </div>
  </footer>
</div>
-->