<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <hr />
            <h3 class="text-center"> Detalhes do Inquilino </h3>
            <hr /><hr />
            <div>
                <label> <b> Nome: </b></label> {{inquilino.nome}}
            </div>
            <div>
                <label> <b> Idade: </b></label> {{inquilino.idade}}
            </div>
            <div>
                <label> <b> Sexo: </b></label> {{inquilino.sexo}}
            </div>
            <div>
                <label> <b> Telefone: </b></label> {{inquilino.telefone}}
            </div>
            <div>
                <label> <b> Email: </b></label> {{inquilino.email}}
            </div>
        </div>
    </div>
</div>
