<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <hr />
            <h3 class="text-center"> Detalhes da Despesa </h3>
            <hr /><hr />
            <div>
                <label> <b> Descrição: </b></label> {{despesa.descricao}}
            </div>
            <div>
                <label> <b> Tipo de despesa: </b></label> {{despesa.tipoDespesa.descricao}}
            </div>
            <div>
                <label> <b> Valor R$: </b></label> {{despesa.valor}}
            </div>
            <div>
                <label> <b> Vencimento da fatura: </b></label> {{despesa.vencimentoFatura}}
            </div>
            <div>
                <label> <b> Status de pagamento: </b></label> {{despesa.statusPagamento}}
            </div>
        </div>
    </div>
</div>
